<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>

<script src="/public/javascripts/loadprofiles.js"></script> <!--ghetto adding these to all pages..-->
<script src="/public/javascripts/loadpracticespaces.js"></script>
<script src="/public/javascripts/loadavailability.js"></script>
<script src="/public/javascripts/loadsessions.js"></script>
</body>
</html>