<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>JamPlan Session Scheduling</title>
    <link rel="icon" href="../../public/images/favicon.ico">

    <!-- Bootstrap -->
    <link href="public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="public/stylesheets/signin.css" rel="stylesheet">

</head>
<body>
<div class="container">

    <div class="col-sm-9 col-md-10 main">
        <h1 class="page-header">About Jamplan</h1>

        <h2 class="sub-header">What is JamPlan?</h2>
        <div>
            <p>JamPlan is a simple scheduling tool that allows musicians to connect with one another. You start
                by adding a bit of info on the instruments you play, favorite genres, etc. Once you have that you add
                your availability before searching for others who are free to play when you are. If you have a practice
                space you can offer it to other users, or you can search for other users who might have a place to jam.</p>
        </div>

        <h2 class="sub-header">Who am I?</h2>
        <div>
            <p>My name is Justin Guarino and I a student at Sonoma State University (until I graduate in about a week,
                assuming I pass this database class). I play drums when I can but often find it hard to coordinate
                practice sessions with my friends.</p>
        </div>

        <h2 class="sub-header">Contact Info</h2>
        <div>
            <p>Problems with the site? Please send an email to webmaster@jamplan.com</p>
            <p>Interested in playing music? Sign up on JamPlan!</p>
        </div>

        <div>
            <a href="/" id="signin_btn" class="btn btn-lg btn-primary btn-block" roles="button">Return to Sign In</a>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center">Copyright Justin Guarino 2016</p>
            </div>
        </footer>

    </div>

</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="public/javascripts/bootstrap.min.js"></script>
</body>
</html>