<% include ../partials/header%>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/about">JamPlan</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard"><%= fname %>'s Dashboard</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/playerprofiles">Player Profiles</a></li>
                <li><a href="/availability">Availability</a></li>
                <li><a href="/practicespaces">Practice Spaces</a></li>
                <li class="active"><a href="/sessions">Start a Session<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/about">About JamPlan</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Sessions</h1>

            <h2 class="sub-header">Upcoming Sessions</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Session Description</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody id="sessions">

                    </tbody>
                </table>
            </div>

            <h2 class="sub-header">Detailed Info on Sessions</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Session Member Email</th>
                        <th>Session Member First Name</th>
                        <th>Session Member Last Name</th>
                        <th>Location</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody id="sessionsDetailed">

                    </tbody>
                </table>
            </div>

            <footer class="footer">
                <div class="container">
                    <p class="text-muted text-center">Copyright Justin Guarino 2016</p>
                </div>
            </footer>

        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>

<script src="/public/javascripts/loadprofiles.js"></script> <!--ghetto adding these to all pages..-->
<script src="/public/javascripts/loadpracticespaces.js"></script>
<script src="/public/javascripts/loadavailability.js"></script>
<script src="/public/javascripts/loadsessions.js"></script>
<script src="/public/javascripts/loadsessionparticipants.js"></script>
</body>
</html>
